@import "../components/animation";
.intro-section {
  @include gradients;
  padding: 10rem 0 0 0;
}
.intros {
  .video-box {
    a {
      @include centerAbs;
      i {
        font-size: 6rem;
        color: $secondary;
      }
    }
  }
}
.border-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 6rem;
  border: 0.55rem solid $white;
  border-radius: 50%;
  animation: plus 1.5s infinite linear;
  &.border--animate1{
    animation-delay: 1s;
  }
   &.border--animate2{
    animation-delay: 1.5s;
  }
}
